@use '@/shared/scss/underscore' as _;

.wrapper {
  @include _.full-page;
  @include _.flex-column(normal, normal);
  @include _.full-width;

  > *:last-child {
    margin-bottom: 0;
  }
}

:global(body.mobile) {
  .header {
    margin-top: _.unit(3);
    margin-bottom: 2rem; // spacing below branding header
    padding-bottom: 0;
  }
}

:global(body.desktop) {
  .wrapper {
    padding: _.unit(6) 0;
  }

  .header {
    margin-bottom: 2rem; // spacing below branding header
  }

  .placeholderTop {
    flex: 3;
  }

  .placeholderBottom {
    flex: 5;
  }
}
