@use '@/shared/scss/underscore' as _;

$logo-height: 55px;

.container {
  width: 100%;
  @include _.flex-column;
}

.logoWrapper {
  @include _.flex-row;
}

.connectIcon {
  color: var(--color-neutral-variant-80);
  margin: 0 _.unit(3);
}

.logo {
  height: $logo-height;
  width: auto;
  @include _.image-align-center;
}

.headline {
  flex-shrink: 0;
  text-align: center;
  color: var(--color-neutral-50);
  @include _.multi-line-ellipsis(2);
}

:global(body.mobile) {
  .container {
    height: 15vh;
    min-height: 92px;
    max-height: 148px;
  }

  .logoWrapper:not(:last-child) {
    margin-bottom: 1rem; // spacing between logo and headline
  }

  .headline {
    font: var(--font-body-1); // 16px
  }
}

:global(body.desktop) {
  .logoWrapper:not(:last-child) {
    margin-bottom: 1rem; // spacing between logo and headline
  }

  .headline {
    font: var(--font-body-2); // medium size
  }
}
